@font-face {
  font-family: 'Mechanismo';
  src: url(MechanismoRegular-p7ywa.otf);
}

@font-face {
  font-family: 'Fixedsys';
  src: url(FSEX300.ttf);
}

/*Global CSS */
body{
  font-family: 'Fixedsys';
  min-height: 100vh;
  margin: 0;
  background-color: #1e2124;
  color: #fff;
}

/* Navbar.astro*/
.nav a{
  font-family: 'Mechanismo';
  text-decoration: none;
  font-size: 32px;
  color: #fff;
}

.nav div{
  padding: 14px 16px;
}


.nav a:hover{
  color:#e2e2e2;
}

/* Rest of Navbar + Footer.astro */

.nav ul, footer{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2F3438;
}

main{
  min-height: 100vh;
  margin-bottom: -30px;
}

footer, .push{
  height: 30px;
  padding: 14px 16px;
}

/* Blogs List + Blog Components on Home Page */
.blog-list li{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 8rem;

  margin-bottom: 1.5rem;
  list-style: none;

  border-style: solid;
  border-width: 0.25rem;
  border-radius: 0.25rem;
}

.blog-list li .tags{
  margin-top: auto;
}

.blog-info{
  margin-top: 0.5rem;
} 

.blog-list{
  width: 40%;
}

.blog-list a{
  text-decoration: none;
  /* font-size: 35px; */
  font-size: 2.1rem;
}

.blog-list a:link,
.blog-list a:visited {
  color: #fff;
}

.blog-list a:hover,
.blog-list a:link:hover,
.blog-list a:visited:hover {
  color:#e2e2e2;
}

.blog-list p{
  margin: 0;
  padding-left: 0.15rem;
}

/* Social.astro; Apart of Footer */
.social{
  padding: 0.125rem 0.125rem;
  color: #fff;
  background-color: #3128dc;
  font-family: 'Fixedsys';
  text-decoration: none;
}

.social:hover{
  background-color: #382ef3;
}