@font-face {
  font-family: 'Mechanismo';
  src: url(MechanismoRegular-p7ywa.otf);
}

@font-face {
  font-family: 'Fixedsys';
  src: url(FSEX300.ttf);
}

/*Global CSS */
body{
  font-family: 'Fixedsys';
  min-height: 100vh;
  margin: 0;
  background-color: #1e2124;
  color: #fff;
}

/* Navbar.astro*/
.nav a{
  font-family: 'Mechanismo';
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}

.nav div{
  padding: 0.875rem 1rem;
}

.nav a:hover{
  color:#b9b9b9;
}

/* Rest of Navbar + Footer.astro */

.nav ul, footer{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2F3438;
}

main{
  min-height: 100vh;
  margin-bottom: -1.875rem;
}

footer, .push{
  height: 1.875rem;
  padding: 0.875rem 1rem;
}

footer{
  display: flex;
  justify-content: left;
  gap: 0.5rem;
}

/* Blogs List + Blog Components on Home Page */
.blog-list li{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 8rem;

  margin-bottom: 1.5rem;
  list-style: none;

  border-style: solid;
  border-width: 0.25rem;
  border-radius: 0.25rem;
}

.blog-list{
  width: 40%;
}

.blog-list a{
  text-decoration: none;
  font-size: clamp(1.2rem, 3vw, 2.1rem);
}

.blog-list a:link,
.blog-list a:visited {
  color: #fff;
}

.blog-list a:hover,
.blog-list a:link:hover,
.blog-list a:visited:hover {
  text-decoration: underline;
  color:#b9b9b9;
}

.blog-list p,
.blog-list li .tags{
  margin: 0;
  font-size: clamp(0.6rem, 1.5vw, 1rem);
  padding-left: 0.15rem;
}

.blog-list li .tags{
  margin-top: auto;
}

ul.blog-list{  /* Scroll feature for blog-list */
  overflow: hidden;
  overflow-y: auto;
  height: 40rem;
}

.blog-info{
  margin-top: 0.5rem;
} 

/* Social.astro; Apart of Footer */
.social{
  padding: 0.125rem 0.125rem;
  color: #fff;
  background-color: #000000;
  font-family: 'Fixedsys';
  font-size: 1.5rem;
  text-decoration: none;
}

.social:hover{
  background-color: #382ef3;
}

/* ImageLink.astro */

.img-link{
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.img-link:hover{
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.3);
}

/* About me Button (Homepage Only) */
.about{
  font-size: 1.5rem;
  position: absolute;
  top: -0.25rem;
  right: 2rem;

}

.about a{
  color: #fff;
  text-decoration: none;
}

.about li{
  list-style-type: none;
}

.about a:hover,
.about a:link:hover,
.about a:visited:hover{
  color:#b9b9b9;
}