<a href="/">Home</a>
<a href="/about/">About</a>

<html lang="en"> 
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name ="viewport" content = "width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>Astro Site</title>
  </head>
  <body>
    <h1>About me</h1>
    <h2>Hi, I'm Michael! I'm a Computer Science Major who loves to read and be beautiful and be me hiiii haha hiiii</h2>
    <p>Currently, I'm working through the Astro tutorial to get a blog up and running, so I will update this later!</p>
  </body>
</html>