---
import '../styles/sandbox.css'
import BaseLayout from "../layouts/BaseLayout.astro"
---


<BaseLayout>
<div class="sandbox-layout">
  <h1>This is Sandbox text</h1>
  <h2>Just using this to test out animations and stylings</h2>
  <h3>I'm gonna do great things in this world</h3>
  <h4>No matter what, I will succeed</h4>
  <p>I have to do this for everyone, it isn't just about me.</p>
</div>
</BaseLayout>
