---
import '../styles/sandbox.css'
import BlogLayout from "../layouts/BlogLayout.astro"

const {Content} = Astro.props;
---


<!-- <BlogLayout> -->
  <div class="terminal">
    <span class="typing"></span>
  </div>
<!-- </BlogLayout> -->

<script>
  const typingElement = document.querySelector('.typing');
const text = 'Loading text character by character...';
let index = 0;

function type() {
  if (index < text.length) {
    typingElement.textContent += text.charAt(index);
    index++;
    setTimeout(type, 0.5); // Adjust speed (100ms per character)
  }
}

type();
</script>
