---
// Component for Blogposts on Home Page (index.astro)
const {url, title} = Astro.props;
---
<style>
  li, a{
    text-decoration: none;
  }

  li{
    list-style: none;
  }
</style>

<li><a href ={url}>{title}</a></li>