---
// Component for Blogposts on Home Page (index.astro)

const {url, title, description, pubDate, tags = []} = Astro.props;
---

<li class="blogpost">
  <div class="blog-content">
    <a class="title-link" href ={url}>{title}</a>
    <div class="blog-info">
      <p>{pubDate.toString().slice(0,10)}</p>
      <p><u>Description:</u> {description}</p>
    </div>
  </div>
  {tags.length > 0 && (
      <p class="tags"> Tags: {tags.join(', ')} </p>
  )}
</li>