---
import BaseLayout from "./BaseLayout.astro";
import AudioTrack from "../components/AudioTrack.astro";

const {frontmatter} = Astro.props;
---

<BaseLayout>
  <div class="blogpost">
    <h1 class = "title">{frontmatter.title}</h1>
    <h3 class="pubDate">{frontmatter.pubDate && frontmatter.pubDate.toString().slice(0,10)}</h3>
    {frontmatter.trackName && <AudioTrack />}
    <div class="content">
      <slot />
    </div>
</div>
</BaseLayout>