---
import BaseLayout from "./BaseLayout.astro";
import AudioTrack from "../components/AudioTrack.astro";
import ImageGallery from "../components/ImageGallery.astro";

const {frontmatter} = Astro.props;
---

<BaseLayout>

  <div class="blogpost-layout">
      <div class="blogpost">
        <div class="blog-header">
          <h1 class = "title">{frontmatter.title}</h1> 
          {frontmatter.trackName && <AudioTrack />}
          <h3 class="pubDate">{frontmatter.pubDate && frontmatter.pubDate.toString().slice(0,10)}</h3>
        </div>
        
        <hr class="divider" />
        
        <div class="content">
          <div class="text-content">
            <slot/>
          </div>
          <div class="vert-divider"></div>
        </div>


        <div class="image-content">
          <ImageGallery images={frontmatter.images} altPrefix={frontmatter.title} />
        </div>

      <hr class="divider" />
    
      </div>
  </div>
</BaseLayout>